
nav #home{
       color: cornflowerblue;
       background-color: rgba(100,149,237,0.3);
}
#headimg{
       width: 853px;
       height: 640px;
       margin-top: 3%;
       margin-left: auto;
       margin-right: auto;
       
}
#headimgback{
       width: 853px;
       height: 640px;
       /*8animation-name: change;
       animation-duration: 15s;
       animation-iteration-count: infinite;*/
}

#headimgback:hover{
       animation-play-state: paused;
}
 
.outfig{
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow:column wrap;
       min-height: 450px;
       margin-bottom: 10px;
       flex-flow: column wrap;
}
.funcbutton{
       justify-self: end;
}
/*
@-webkit-keyframes change{
       from{
              background-image: url(../resources/img/39.jpg);
       }
       20%{
              background-image: url(../resources/img/152.jpg);
       }
       40%{
              background-image: url(../resources/img/70.jpg);
       }
       60%{
              background-image: url(../resources/img/339.jpg);
       }
       to{
              background-image: url(../resources/img/39.jpg);
       }

}
 @keyframes change{
       from{
              background-image: url(../resources/img/39.jpg);
       }
       20%{
              background-image: url(../resources/img/152.jpg);
       }
       40%{
              background-image: url(../resources/img/70.jpg);
       }
       60%{
              background-image: url(../resources/img/339.jpg);
       }
       to{
              background-image: url(../resources/img/39.jpg);
       }
 }
 */