
nav #search{
       color: cornflowerblue;
       background-color: rgba(100,149,237,0.3);
}
form{
       margin-bottom: 10px;
       margin-right: auto;
}
#searchForm input,#searchForm button{
       margin-top: 20px;
       margin-left: 400px;
       margin-bottom: 5px;
}
#searchForm button{
       margin-left: 0;
}

form input.hasResult{
       margin-top: 50px;
       margin-bottom:50px;
       margin-left: auto;
} 
#selectForm{
       margin-top: 0px;
       padding-top: 15px;
       margin-right: 50px;
}
#selectForm input{
       width: auto;
}