#main{
       background-color: rgba(245, 248, 248,0.8);
}
 
header{
       background-color: rgba(191, 235, 229, 0.5);
       background-image: linear-gradient(to right, rgba(191, 235, 229, 0.5),white);
}
#blocks_row .block{
       background-color: rgba(245, 248, 248,0.8);
}
footer{
       background-color: rgba(80, 105, 95,0.7);
}
